<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>Customers</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(customers)}">
        <h2>Customer list</h2>
        <table class="table table-stripped">
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Phone number</th>
                <th>Address 1</th>
                <th>Address 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip code</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="customer:${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.addressLine1}"></td>
                <td th:text="${customer.addressLine2}"></td>
                <td th:text="${customer.city}"></td>
                <td th:text="${customer.state}"></td>
                <td th:text="${customer.zipCode}"></td>
                <td><a th:href="${'/customer/'+customer.id}">View</a></td>
                <td><a th:href="${'/customer/edit/'+customer.id}">Edit</a></td>
                <td><a th:href="${'/customer/delete/'+customer.id}">Delete</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/customer/new">New customer</a>
        </div>
    </div>
</div>
</body>
</html>